
  

  
  




<pre>#Write and run some Python...
message = "Hello World!"
message</pre>



<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>

<div class="new-cell hidden">
<pre>x&nbsp;</pre>
</div>


