:root {
    --blue: #397cae;
}

html { visibility: hidden; 
}


.info {
  color: var(--blue);
}

.command {
  font-family: monospace;
}

.success {
  color: var(--green);
}

.error {
  color: var(--red);
  text-transform: uppercase;
}

nav > form {
  display: inline-block;
}

#save {
  float: right;
}

jp-OutputArea-Output {
  height: 800px!important;
}


span.py {
  color: #397cae; 
}

span.py_y {
  color: #fccc3b;
}

h1 {
  font-family: 'Lobster', cursive;
}

pre {
  font-size: 1.2rem!important;
}

footer a {
  color: var(--green)!important;
}

.thebelab-restart-button,
.thebelab-restartall-button {
  display: none;
}


section#notebook .thebelab-cell:nth-of-type(1) .thebelab-restart-button {
  display: inherit;
  float: right;
}


div.thebelab-input span {
  font-size: 1.2rem;
}

div.thebelab-input {
  margin: 0.5rem;
}

.hidden {
  display: none;
}

#operations,
#save-section {
  padding: 1rem;
}

#status {
  text-transform: uppercase
}
#status.ready {
  color: var(--green);
}

.thebelab-button

 { 
  text-transform: uppercase;
  margin: 0.5rem;
  padding: 0rem 0.5rem;
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: #fff;
}

.thebelab-button:hover
 {
  color: #fff;
  background-color: var(--primary);
}

#localhost { 
  text-transform: uppercase;
  margin: 0.5rem;
  padding: 0rem 0.5rem;
  border: 1px solid var(--orange);
  color: var(--orange);
  background-color: #fff;
}

#localhost:hover {
  color: #fff;
  background-color: var(--orange);
}

.thebelab-restart-button,
.thebelab-restartall-button {
  color: var(--green);
  background-color: #fff;
  border: 1px solid var(--green);
}

.thebelab-restart-button:hover,
.thebelab-restartall-button:hover {
  color: #fff;
  background-color: var(--green);
}

#load,
#save,
#add-cell {
  text-transform: uppercase;
  border: 1px solid var(--primary);
  background-color: #fff;
  color: var(--primary);  
}

#load:hover,
#save:hover,
#add-cell:hover {
  background-color: var(--primary);
  color: #fff;  
}

#new {
  text-transform: uppercase;
  border: 1px dashed var(--green);
  background-color: #fff;
  color: var(--green);  
}

#new:hover {
  background-color: var(--green);
  color: #fff;  
}

section#notebook .thebelab-run-button::before {
  content: "> ";
}

div.thebelab-input {
  border-block-end: 1px solid #ccc;
}

select {
    line-height: inherit;
}

code {
  font-size: inherit!important;
}


body {
  margin: auto;
  max-width: 60rem; 
}

body > * {
  margin: 1rem;
}

header,
footer,
section#kernel,
section#controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 2rem;
}
section#controls {
align-items: unset;
}

main a {
  color: var(--green)!important;
}

nav > * {
  text-transform: uppercase;
  text-align: center;
  margin-left: 1rem;
}

section, footer {
  border-top: 1px solid var(--grey);
}

footer {
  padding-top: 1rem;
  text-align: right;
}

form {
  max-width: 30rem;
}


