<!doctype html>
<html lang="en">
<head>
  {% include 'head.html' %}
</head>

<body>
  <header>
		<h1>Snip<span class="py">p</span><span class="py_y">y</span></h1>
    <nav>
    <form>
    <input type="submit" id="new" name="new" value="new"></input>
    </form>     
    <button id="load">Load</button>    
	</nav>
	</header>

  <main>
    {% block content %}{% endblock %}
	</main>
	<footer>
    <div>&copy; datadesigns</div>
    </div>
    <div>
    Fork on <a href="https://replit.com/@datadesigns/pypage" target=_blank">replit</a>
    </div>
	</footer>
  <script src="script.js"></script>
</body>

</html>