<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="pypage - interactive Python pages on replit.">
<meta name="theme-color" content="#4a69bd">
<title>pypage</title>
<style>
	.wf-loading * {
		opacity: 0;
	}
</style>

<link rel="manifest" href="manifest.json">
<link rel="icon" href="icons/favicon.ico">
<link rel="apple-touch-icon" href="icons/apple-touch-icon.png">

<link rel="stylesheet" href="bonsai.css">
<link rel="stylesheet" href="style.css">
<!-- Configure and load Thebe !-->
<script type="text/x-thebe-config">
	{ requestKernel: true, bootstrap: true, binderOptions: { repo: "binder-examples/requirements", }, codeMirrorConfig: { theme:
	"abcdef" }, }
</script>
<script src="https://unpkg.com/thebe@latest/lib/index.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>