<form action="." method="POST" id="save-form">
  <input type="hidden" id="nb-code" name="nb-code" value="">
  <input type="hidden" name="operation" value="save">
  <label for="filename">Snip name</label>
  <input type="text" placeholder="name (without file extension)" value="{{ filename }}" id="filename" name="filename" required>
  <label for="password">Password</label>
  <input type="password" placeholder="Replit 'pw' Secret" id="password" name="password" required>
  <input type="submit" value="SAVE" name="save-snip" id="save-snip">
   </form>